*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#1565c0;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:#0d47a1;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

main{
    width:80%;
    margin:auto;
    padding:20px;
}

section{
    background:white;
    margin:20px 0;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 8px rgba(0,0,0,.2);
}

h2{
    color:#1565c0;
    margin-bottom:10px;
}

ul{
    margin-left:20px;
}

button{
    margin-top:15px;
    padding:10px 20px;
    background:#1565c0;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#0d47a1;
}

#mensagem{
    margin-top:15px;
    font-weight:bold;
    color:green;
}

footer{
    background:#1565c0;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}